<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="login-title">
                <h2>修改密码</h2>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" name="changePasswordForm">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label login-label">原密码:</label>
                                <input class="form-control" ng-model="origin_password" name="origin_password"
                                       id="origin_password" type="password" placeholder="输入原密码" autofocus required>
                            </div>
                            <div class="form-group">
                                <label class="control-label login-label">新密码:</label>
                                <input class="form-control" ng-model="new_password" name="new_password"
                                       id="new_password" type="password" placeholder="输入新密码" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label login-label">确认新密码:</label>
                                <input class="form-control" ng-model="confirm_password" name="confirm_password"
                                       id="confirm_password" type="password" placeholder="确认新密码" required>
                            </div>
                            <div ng-if="new_password != confirm_password">
                                <li style="color: red">
                                    两次新密码输入不一致
                                </li>
                            </div>
                            <br>
                            <!-- Change this to a button or input when using this as a form -->
                            <button  ng-disabled="changePasswordForm.origin_password.$invalid
                            || changePasswordForm.new_password.$invalid|| changePasswordForm.confirm_password.$invalid || new_password != confirm_password"
                                    class="btn btn-lg btn-success btn-block" ng-click="changePassword()">修改密码</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>