<div class="container-fluid">
	<!-- manage users -->
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">用户管理</h3>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<div class="row">
		<div class="col-lg-12 col-sm-12">
			<table st-table="displayedCollection"  st-safe-src="rowCollection" class="table table-striped table-bordered">
				<thead>
				<tr>
					<th colspan="8">
						<input st-search placeholder="搜索" class="input-sm form-control" type="search"/>
					</th>
					<th>
						<button class="btn btn-success btn-outline" ng-click="showAddUserModal()">
							添加用户&nbsp<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
				<tr>
					<th>序号</th>
					<th>用户名</th>
					<th>姓名</th>
					<th>性别</th>
					<th>手机号码</th>
					<th>注册日期</th>
					<th>头像</th>
					<!--<th st-sort="email">邮箱</th>-->
					<th>工商户认证</th>
					<th>操作</th>
				</tr>

				</thead>
				<tbody>
				<tr ng-repeat="row in displayedCollection">
					<td>{{rowCollection.indexOf(row)}}</td>
					<td>{{row.userName}}</td>
					<td>{{row.name}}</td>
					<td>{{{true:'男', false: '女'}[row.gender]}}</td>
					<td>{{row.phone}}</td>
					<td>
						{{row.regDate.substring(0, 4) + "年" + row.regDate.substring(4, 6) + "月" + row.regDate.substring(6, 8) + "日"}}
					</td>
					<td>
						<button class="btn btn-success btn-outline" ng-click="showUploadPortraitModal(row)">
							上传&nbsp<span class="fa fa-upload"></span>
						</button>
						<button class="btn btn-primary btn-outline" ng-click="previewPortrait(row)" ng-if="row.photo != null">
							预览&nbsp<span class="fa fa-image"></span>
						</button>
						<button class="btn btn-primary btn-outline" ng-if="row.photo == null" disabled>
							&nbsp未上传&nbsp
						</button>
					</td>
					<td>
						<a href="#" style="text-decoration: underline" ng-click="previewPortrait(row)">营业执照</a>
						<a href="#" ng-mouseover="changeText(row.certification, $event)" ng-mouseleave="recoverText(row.certification, $event)"  ng-click="changeCertification(row.id, !row.certification)" style="text-decoration: underline">
							{{{false:'未认证 ', true:'已认证'}[row.certification]}}
						</a>
						<!--<button class="btn btn-primary btn-outline" ng-mouseover="changeText(row.certification, $event)" ng-mouseleave="recoverText(row.certification, $event)" ng-class="{true: 'btn-success', false:'btn-warning'}[row.certification]" ng-click="changeCertification(row.id, !row.certification)">-->
							<!--{{{false:'未认证 ', true:'已认证'}[row.certification]}}-->
						<!--</button>-->
					</td>
					<td>
						<button class="btn btn-primary btn-outline" ng-click="showModifyUserModal(row)">
							编辑&nbsp<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button class="btn btn-danger btn-outline" ng-click="deleteUser(row)">
							删除&nbsp<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<td colspan="9" class="text-center">
						<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>


<modal-dialog show='flag.userModal' dialog-title='{{{true:"添加用户",false:"编辑用户"}[flag.editable]}}'>
	<div class="col-md-10 col-md-offset-1">
		<form role="form" name="loginForm" class="modal-form">
			<fieldset>
				<div class="form-group">
					<label class="control-label" style="width: 80px">手机号:</label>
					<div class="controls" style="margin-left: 95px">
						<input class="form-control" ng-model="userInfo.phone" type="text" autofocus ng-disabled="!flag.editable">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" style="width: 80px">用户名:</label>
					<div class="controls" style="margin-left: 95px">
						<input class="form-control" ng-model="userInfo.userName" type="text" ng-disabled="!flag.editable">
					</div>
				</div>
				<div class="form-group" ng-if="flag.editable">
					<label class="control-label" style="width: 80px">密码:</label>
					<div class="controls" style="margin-left: 95px">
						<input class="form-control" ng-model="userInfo.password" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" style="width: 80px">姓名:</label>
					<div class="controls" style="margin-left: 95px">
						<input class="form-control" ng-model="userInfo.realName" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" style="width: 80px">性别</label>
					<div class="controls" style="margin-left: 95px;line-height: 1.42857143; height:34px; padding: 6px 12px;">
						<label class="radio-inline">
							<input type="radio"  ng-value=true ng-model="userInfo.gender">男
						</label>
						<label class="radio-inline">
							<input type="radio" ng-value=false ng-model="userInfo.gender">女
						</label>
					</div>
				</div>
				<div class="form-group" style="float: right">
					<button class="btn btn-success btn-outline ng-binding" ng-click="addUser(userInfo)" ng-if="flag.editable">提交&nbsp<span class="glyphicon glyphicon-plus"></span></button>
					<button class="btn btn-success btn-outline ng-binding" ng-click="modifyUser(userInfo)" ng-if="!flag.editable">提交&nbsp<span class="glyphicon glyphicon-plus"></span></button>
					<button class="btn btn-primary btn-outline ng-binding" ng-click="flag.userModal = false">取消&nbsp<span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</fieldset>
		</form>
	</div>
</modal-dialog>

<modal-dialog show='flag.previewPortrait' dialog-title='预览头像'>
	<div>
		<div ng-if="!portrait">加载中...</div>
		<img ng-src="{{portrait}}" style="max-width: 100%; max-height: 500px;" ng-if="portrait">
	</div>
</modal-dialog>

<modal-dialog show='flag.uploadPortrait' dialog-title='上传头像'>
	<input type='file' ng-model='files.portrait' base-sixty-four-input accept="image/*" required>
	<div ng-if="files.portrait.base64" style="margin-top: 10px">
		<!--<div style="position: relative; height: 0px; padding-bottom: 60%; width: 100%">-->
			<!--<div style="position: absolute; left: 0px; height: 100%; width: 100%">-->
				<img ng-src="{{'data:' + files.portrait.filetype + ';base64,' + files.portrait.base64}}" style="max-width: 100%; max-height: 500px;">
			<!--</div>-->
		<!--</div>-->
		<div class="form-group" style="margin-top: 10px">
			<button class="btn btn-success btn-outline ng-binding" ng-click="uploadPortrait(files.portrait, phoneOfPortrait)">上传&nbsp<span class="fa fa-upload"></span></button>
			<button class="btn btn-primary btn-outline ng-binding" ng-click="flag.uploadPortrait = false">取消&nbsp<span class="glyphicon glyphicon-trash"></span></button>
		</div>
	</div>
</modal-dialog>